body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: lightgray;
}
h1{
    color: blue;
    text-align: center;
    font-size: 8rem;
}
img {
	float: center;
    margin-right: 50px;
    margin-left: 100px;
    width: 50%;
} 
em.destacar {
    background: white;
    border: 1px solid blue;
    padding: .1em;
}
#suarez{
    width: 50%;
}