body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(6, 6, 150);
    color: white;
}
h1{
    color: red;
    text-align: center;
    font-size: 8rem;
    background-color: antiquewhite;
    margin: 0;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(1, 1, 68);
    text-align: left;
}
img {
	height: 150px;
    border-radius: 5%;
    border: 2px solid red;
} 
em.destacar {
    background: darkred;
    border: 1px solid blue;
    padding: .1em;
}

h3{
    color: darkred;
    font-size: 2rem;
}

th{
    padding-inline:100px;
}

table{
    background-color: darkred;
    margin: auto;
}

a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.right{
    text-align: right;

}
.right img{
    float:right;
    margin-left: 1%;
 }


.left img{
    float:left;
    margin-right: 1%;
 }